*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/
dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/inter/Inter-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/inter/Inter-Italic.woff2") format("woff2");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/inter/Inter-SemiBold.woff2") format("woff2");
  }

  @font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/inter/Inter-SemiBoldItalic.woff2") format("woff2");
  }
.container {
  width: 100%;
}
@media (min-width: 640px) {

  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {

  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {

  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {

  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {

  .container {
    max-width: 1536px;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.-top-2\.5 {
  top: -0.625rem;
}
.-top-3 {
  top: -0.75rem;
}
.left-0 {
  left: 0px;
}
.right-0 {
  right: 0px;
}
.right-2 {
  right: 0.5rem;
}
.top-2 {
  top: 0.5rem;
}
.top-\[-4rem\] {
  top: -4rem;
}
.isolate {
  isolation: isolate;
}
.-z-10 {
  z-index: -10;
}
.z-10 {
  z-index: 10;
}
.col-span-3 {
  grid-column: span 3 / span 3;
}
.col-span-5 {
  grid-column: span 5 / span 5;
}
.col-span-7 {
  grid-column: span 7 / span 7;
}
.col-span-full {
  grid-column: 1 / -1;
}
.\!m-0 {
  margin: 0px !important;
}
.m-2 {
  margin: 0.5rem;
}
.-mx-4 {
  margin-left: -1rem;
  margin-right: -1rem;
}
.-mx-5 {
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-12 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.\!mb-0 {
  margin-bottom: 0px !important;
}
.\!mt-0 {
  margin-top: 0px !important;
}
.\!mt-2 {
  margin-top: 0.5rem !important;
}
.mb-12 {
  margin-bottom: 3rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-24 {
  margin-bottom: 6rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mb-6 {
  margin-bottom: 1.5rem;
}
.mb-8 {
  margin-bottom: 2rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mr-4 {
  margin-right: 1rem;
}
.mt-0 {
  margin-top: 0px;
}
.mt-1 {
  margin-top: 0.25rem;
}
.mt-12 {
  margin-top: 3rem;
}
.mt-3 {
  margin-top: 0.75rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.mt-8 {
  margin-top: 2rem;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.flex {
  display: flex;
}
.table {
  display: table;
}
.grid {
  display: grid;
}
.contents {
  display: contents;
}
.hidden {
  display: none;
}
.size-4 {
  width: 1rem;
  height: 1rem;
}
.size-6 {
  width: 1.5rem;
  height: 1.5rem;
}
.h-auto {
  height: auto;
}
.h-full {
  height: 100%;
}
.w-\[100\%\] {
  width: 100%;
}
.w-full {
  width: 100%;
}
.w-max {
  width: -moz-max-content;
  width: max-content;
}
.max-w-32 {
  max-width: 8rem;
}
.max-w-\[100\%\] {
  max-width: 100%;
}
.max-w-\[1200px\] {
  max-width: 1200px;
}
.max-w-\[40rem\] {
  max-width: 40rem;
}
.max-w-\[70rem\] {
  max-width: 70rem;
}
.max-w-full {
  max-width: 100%;
}
.max-w-prose {
  max-width: 65ch;
}
.max-w-screen-xl {
  max-width: 1280px;
}
.flex-1 {
  flex: 1 1 0%;
}
.flex-shrink {
  flex-shrink: 1;
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.select-none {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.\!list-none {
  list-style-type: none !important;
}
.list-none {
  list-style-type: none;
}
.columns-1 {
  -moz-columns: 1;
       columns: 1;
}
.break-inside-avoid-column {
  -moz-column-break-inside: avoid;
       break-inside: avoid-column;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-rows-\[max-content_0fr\] {
  grid-template-rows: max-content 0fr;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-between {
  justify-content: space-between;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-8 {
  gap: 2rem;
}
.gap-x-4 {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.space-y-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}
.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}
.overflow-auto {
  overflow: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-y-auto {
  overflow-y: auto;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.\!whitespace-pre-line {
  white-space: pre-line !important;
}
.whitespace-pre-wrap {
  white-space: pre-wrap;
}
.text-balance {
  text-wrap: balance;
}
.rounded {
  border-radius: 0.25rem;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.rounded-md {
  border-radius: 0.375rem;
}
.rounded-sm {
  border-radius: 0.125rem;
}
.border {
  border-width: 1px;
}
.border-b {
  border-bottom-width: 1px;
}
.border-t {
  border-top-width: 1px;
}
.border-background-secondary {
  border-color: hsla(var(--background-secondary));
}
.border-background-tertiary {
  border-color: hsla(var(--background-tertiary));
}
.border-blue-100 {
  --tw-border-opacity: 1;
  border-color: rgb(219 234 254 / var(--tw-border-opacity, 1));
}
.border-foreground-secondary\/20 {
  border-color: hsla(var(--foreground-secondary), 0.2);
}
.border-foreground-tertiary {
  border-color: hsla(var(--foreground-tertiary));
}
.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
}
.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
}
.border-gray-600\/25 {
  border-color: rgb(75 85 99 / 0.25);
}
.\!bg-transparent {
  background-color: transparent !important;
}
.bg-background-primary {
  background-color: hsla(var(--background-primary));
}
.bg-background-secondary {
  background-color: hsla(var(--background-secondary));
}
.bg-background-secondary\/30 {
  background-color: hsla(var(--background-secondary), 0.3);
}
.bg-blue-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 246 255 / var(--tw-bg-opacity, 1));
}
.bg-foreground-tertiary {
  background-color: hsla(var(--foreground-tertiary));
}
.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}
.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1));
}
.bg-green-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(74 222 128 / var(--tw-bg-opacity, 1));
}
.bg-slate-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity, 1));
}
.bg-stone-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 244 / var(--tw-bg-opacity, 1));
}
.fill-\[\#002633\] {
  fill: #002633;
}
.fill-\[\#f8f9fc\] {
  fill: #f8f9fc;
}
.fill-black {
  fill: #000;
}
.fill-transparent {
  fill: transparent;
}
.p-1 {
  padding: 0.25rem;
}
.p-1\.5 {
  padding: 0.375rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-4 {
  padding: 1rem;
}
.\!px-3 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}
.\!py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}
.px-1\.5 {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.py-0\.5 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}
.py-1\.5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.\!pl-0 {
  padding-left: 0px !important;
}
.pb-0\.5 {
  padding-bottom: 0.125rem;
}
.pb-1\.5 {
  padding-bottom: 0.375rem;
}
.pb-2 {
  padding-bottom: 0.5rem;
}
.pb-4 {
  padding-bottom: 1rem;
}
.pl-2 {
  padding-left: 0.5rem;
}
.pl-3 {
  padding-left: 0.75rem;
}
.pr-3 {
  padding-right: 0.75rem;
}
.pt-2 {
  padding-top: 0.5rem;
}
.pt-4 {
  padding-top: 1rem;
}
.pt-6 {
  padding-top: 1.5rem;
}
.pt-8 {
  padding-top: 2rem;
}
.text-center {
  text-align: center;
}
.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.\!text-xs {
  font-size: 0.75rem !important;
  line-height: 1rem !important;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text-\[\.8125rem\] {
  font-size: .8125rem;
}
.text-\[13px\] {
  font-size: 13px;
}
.text-\[400\%\] {
  font-size: 400%;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.\!font-normal {
  font-weight: 400 !important;
}
.font-bold {
  font-weight: 700;
}
.font-normal {
  font-weight: 400;
}
.font-semibold {
  font-weight: 600;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
.italic {
  font-style: italic;
}
.leading-4 {
  line-height: 1rem;
}
.leading-6 {
  line-height: 1.5rem;
}
.leading-snug {
  line-height: 1.375;
}
.\!text-blue-500 {
  --tw-text-opacity: 1 !important;
  color: rgb(59 130 246 / var(--tw-text-opacity, 1)) !important;
}
.text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity, 1));
}
.text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity, 1));
}
.text-foreground-primary {
  color: hsla(var(--foreground-primary));
}
.text-foreground-secondary {
  color: hsla(var(--foreground-secondary));
}
.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}
.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity, 1));
}
.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1));
}
.text-primary {
  color: hsla(var(--primary));
}
.text-runtime-300 {
  --tw-text-opacity: 1;
  color: rgb(112 255 174 / var(--tw-text-opacity, 1));
}
.text-slate-600 {
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity, 1));
}
.\!underline {
  text-decoration-line: underline !important;
}
.underline {
  text-decoration-line: underline;
}
.line-through {
  text-decoration-line: line-through;
}
.decoration-foreground-tertiary {
  text-decoration-color: hsla(var(--foreground-tertiary));
}
.underline-offset-2 {
  text-underline-offset: 2px;
}
.underline-offset-4 {
  text-underline-offset: 4px;
}
.opacity-50 {
  opacity: 0.5;
}
.outline {
  outline-style: solid;
}
.ring-1 {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
.ring-transparent {
  --tw-ring-color: transparent;
}
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.duration-100 {
  transition-duration: 100ms;
}
.duration-150 {
  transition-duration: 150ms;
}
.duration-200 {
  transition-duration: 200ms;
}
.duration-300 {
  transition-duration: 300ms;
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.\[localhost\:8000\] {
  localhost: 8000;
}
.\[mailto\:johndoe\@deno\.com\] {
  mailto: johndoe@deno.com;
}
:root {
  --white-hsl: 215deg, 81%, 100%;

  --runtime-50: #eefff5;
  --runtime-50-hsl: 149deg, 100%, 96.5%;
  --runtime-100: #d6ffe9;
  --runtime-100-hsl: 149deg, 100%, 92.5%;
  --runtime-200: #b0ffd4;
  --runtime-200-hsl: 149deg, 100%, 84.5%;
  --runtime-300: #70ffaf;
  --runtime-300-hsl: 149deg, 100%, 72%;
  --runtime-400: #29ff85;
  --runtime-400-hsl: 149deg, 100%, 58%;
  --runtime-500: #00e666;
  --runtime-500-hsl: 149deg, 100%, 45%;
  --runtime-600: #00b84d;
  --runtime-600-hsl: 149deg, 100%, 36%;
  --runtime-700: #008a33;
  --runtime-700-hsl: 149deg, 100%, 29%;
  --runtime-800: #005c1a;
  --runtime-800-hsl: 149deg, 100%, 24%;
  --runtime-900: #003d11;
  --runtime-900-hsl: 149deg, 100%, 20%;
  --runtime-950: #001f08;
  --runtime-950-hsl: 149deg, 100%, 12%;
  --runtime-1000: #000f04;
  --runtime-1000-hsl: 149deg, 100%, 7%;
  --runtime-1050: #000600;
  --runtime-1050-hsl: 149deg, 100%, 3%;

  --runtime: var(--runtime-300);

  --deploy-white: #fafcff;
  --deploy-white-hsl: 225deg, 100%, 99.8%;
  --deploy-50: #f0f7ff;
  --deploy-50-hsl: 225deg, 100%, 97.1%;
  --deploy-100: #e0f0ff;
  --deploy-100-hsl: 225deg, 100%, 94.1%;
  --deploy-200: #b3e0ff;
  --deploy-200-hsl: 210deg, 100%, 85.1%;
  --deploy-300: #66c2ff;
  --deploy-300-hsl: 204deg, 100%, 70.2%;
  --deploy-400: #1a9fff;
  --deploy-400-hsl: 201deg, 100%, 55.3%;
  --deploy-500: #0077cc;
  --deploy-500-hsl: 201deg, 100%, 40%;
  --deploy-600: #005c99;
  --deploy-600-hsl: 201deg, 100%, 30%;
  --deploy-700: #004166;
  --deploy-700-hsl: 201deg, 100%, 20%;
  --deploy-800: #002633;
  --deploy-800-hsl: 198deg, 100%, 10.8%;
  --deploy-900: #001319;
  --deploy-900-hsl: 198deg, 100%, 5.7%;
  --deploy-950: #000a0d;
  --deploy-950-hsl: 195deg, 100%, 2.5%;

  --info: 224deg, 64.3%, 32.9%;
  --note: 224deg, 64.3%, 32.9%;
  --caution: 45.4deg, 93.39%, 47.45%;
  --tip: 142deg, 76.2%, 36.3%;
}
/* Light and dark theme variables */
.light {
  --background-raw: hsl(var(--white-hsl));
  --background-primary: var(--runtime-50-hsl);
  --background-secondary: var(--runtime-200-hsl);
  --background-tertiary: var(--runtime-300-hsl);
  --foreground-primary: var(--runtime-950-hsl);
  --foreground-secondary: var(--runtime-900-hsl);
  --foreground-tertiary: var(--runtime-500-hsl);
  --foreground-quaternary: var(--runtime-100-hsl);
  --runtime-background: 124deg, 100%, 97.1%;
  --runtime-foreground: 184deg, 100%, 10%;
  --primary: var(--runtime-700-hsl);

  [data-services-page="true"] {
    --background-primary: var(--deploy-50-hsl);
    --background-secondary: var(--deploy-100-hsl);
    --background-tertiary: var(--deploy-300-hsl);
    --foreground-primary: var(--deploy-950-hsl);
    --foreground-secondary: var(--deploy-800-hsl);
    --foreground-tertiary: var(--deploy-200-hsl);
    --foreground-quaternary: var(--deploy-100-hsl);

    --primary: var(--deploy-500-hsl);
  }
}
.dark {
  --background-raw: hsl(149deg, 100%, 1%);
  --background-primary: var(--runtime-1050-hsl);
  --background-secondary: var(--runtime-1000-hsl);
  --background-tertiary: var(--runtime-950-hsl);
  --foreground-primary: var(--runtime-50-hsl);
  --foreground-secondary: var(--runtime-100-hsl);
  --foreground-tertiary: var(--runtime-950-hsl);
  --foreground-quaternary: var(--runtime-1000-hsl);
  --runtime-background: 124deg, 100%, 3%;
  --runtime-foreground: 184deg, 100%, 90%;
  --note: 224deg, 64.3%, 82.9%;
  --info: 224deg, 64.3%, 69%;
  --caution: 45.4deg, 93.39%, 67.11%;
  /* The following are not different from light mode (yet?) */
  --primary: var(--runtime-300-hsl);
  --tip: 142deg, 76.2%, 36.3%;
  --color-fg-default: #fff;

  color: var(--foreground-primary);
  background-color: var(--background-primary);

  [data-services-page="true"] {
    --background-raw: hsl(var(--deploy-950-hsl));
    --background-primary: var(--deploy-900-hsl);
    --background-secondary: var(--deploy-800-hsl);
    --background-tertiary: var(--deploy-700-hsl);
    --foreground-primary: var(--deploy-50-hsl);
    --foreground-secondary: var(--deploy-100-hsl);
    --foreground-tertiary: var(--deploy-700-hsl);
    --foreground-quaternary: var(--deploy-800-hsl);

    --primary: var(--deploy-300-hsl);
  }
}
#content,
body {
  background-color: var(--background-raw);
}
html {
  scroll-behavior: smooth;
}
/* Scrollbar colors that look good on light and dark theme */
* {
  scrollbar-color: hsla(0deg, 0%, 50%, 0.5) hsla(0deg, 0%, 50%, 0.1) !important;
}
p {
  max-width: var(--max-text-width);
}
.dark-mode-toggle-button img {
  fill: hsla(var(--foreground-primary));
}
[id] {
  scroll-margin-top: 4rem;
}
h1 {
  letter-spacing: -0.025em;
}
:where(h2, h3) {
  letter-spacing: -0.0125em;
}
.markdown-body {
  font-family: inherit;
  background-color: transparent !important;

  /* Override gfm base styles */
  a {
    color: hsl(var(--primary));
  }

  p {
    margin-bottom: 1.5rem;
  }

  pre {
    margin-bottom: 1.5rem;
  }

  pre {
    border-color: hsla(var(--foreground-tertiary));
  }

  h1:first-child {
    margin-top: 0px;
  }

  h2 {
    margin-top: 3rem;
  }

  h2 {
    margin-bottom: 1rem;
  }

  h3 {
    margin-top: 2.5rem;
  }

  h3 {
    margin-bottom: 1rem;
  }

  h4 {
    margin-top: 1.5rem;
  }

  h4 {
    margin-bottom: 1rem;
  }

  :where(h1, h2, h3) {
    letter-spacing: -0.0125em;
  }

  :where(h2, h3, h4, h5, h6) {
    .header-anchor:hover {
      text-decoration: underline;
      text-underline-offset: 4px;
    }

    .anchor-end {
      opacity: 0;
      transition: opacity 0.2s;
      font-weight: normal;
    }

    &:hover .anchor-end {
      opacity: 1;
    }
  }

  & details {
    border-radius: 0.25rem;
  }

  & details {
    border-width: 1px;
  }

  & details {
    --tw-border-opacity: 1;
    border-color: rgb(134 135 137 / var(--tw-border-opacity, 1));
  }

  & details {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  & details {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  & details {

    &[open] summary {
      margin-bottom: 1rem;
    }

    &[open] summary {
      border-bottom-width: 1px;
    }

    &[open] summary {
      --tw-border-opacity: 1;
      border-color: rgb(207 209 214 / var(--tw-border-opacity, 1));
    }

    &[open] summary {
      padding-bottom: 1rem;
    }

    & summary::marker {
      --tw-text-opacity: 1;
      color: rgb(86 87 90 / var(--tw-text-opacity, 1));
    }
  }

  & pre {
    border-width: 1px;
  }
}
.markdown-body.markdown-summary {
  font-size: 0.875rem !important;
  display: inline;
  --tw-text-opacity: 1;
  color: rgb(87 83 78 / var(--tw-text-opacity, 1));

  p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }

  p {
    display: inline-block;
  }

  :not(pre) > code {
    border-radius: 0.25rem;
  }

  :not(pre) > code {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
  }

  :not(pre) > code {
    padding-left: 0.375rem;
    padding-right: 0.375rem;
  }

  :not(pre) > code {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

  :not(pre) > code {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
pre:has(code.highlight),
pre.highlight:has(code) {
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: hsla(var(--foreground-tertiary));
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media not all and (min-width: 640px) {

  pre:has(code.highlight),
pre.highlight:has(code) {
    margin-left: -1rem;
    margin-right: -1rem;
    border-radius: 0px !important;
  }
}
@media (min-width: 640px) {

  pre:has(code.highlight),
pre.highlight:has(code) {
    border-width: 1px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
pre:has(code.highlight),
pre.highlight:has(code) {
  overflow-x: auto;
}
pre:has(code.highlight):where(:hover, :focus) + .copyButton,
pre.highlight:has(code):where(:hover, :focus) + .copyButton {
  opacity: 1;
}
.copyButton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 0.25rem;
  padding: 0.25rem;
  color: hsla(var(--foreground-secondary));
  opacity: 0;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;

  &:hover,
  &:focus {
    background-color: hsla(var(--foreground-quaternary));
  }

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    transform: scale(1.2);
  }
}
.ddoc .markdown-body tr:nth-child(2n) {
  background-color: hsla(var(--background-secondary)) !important;
}
.markdownBlockTitle {
  position: relative;
  z-index: 10;
  margin-bottom: -1rem !important;
  width: -moz-max-content;
  width: max-content;
  border-radius: 0.25rem;
  border-width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity, 1));
  padding: 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  line-height: 1;
  color: hsla(var(--foreground-secondary), 0.8);
}
@media (min-width: 640px) {

  .markdownBlockTitle {
    left: 0.5rem;
  }
}
.markdownBlockTitle:where(.dark, .dark *) {
  border-color: hsla(var(--background-tertiary));
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity, 1));
}
.deno-tabs .markdownBlockTitle {
  left: 0.5rem;
}
.markdown-body h2:hover .anchor-end {
  opacity: 1;
}
@font-feature-values Inter {
  @character-variant {
    cv05: 5;
    cv08: 8;
    cv10: 10;
  }
  @styleset {
    ss01: 1;
    ss07: 7;
    ss08: 8;
  }
}
body {
  font-variant-alternates: character-variant(cv05, cv08, cv10)
    styleset(ss01, ss07, ss08);
}
.homepage-link {
  display: block;
  font-weight: 400;
  text-decoration-line: underline;
  text-underline-offset: 4px;
  line-height: 1.8rem;
}
.learn-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 400;
  text-decoration-line: underline;
  text-underline-offset: 4px;
}
.deploy-link {
  color: hsl(var(--deploy-500-hsl));
  text-decoration-color: hsl(var(--deploy-500-hsl) / 0.2);
}
.deploy-link:hover {
  text-decoration-color: hsl(var(--deploy-500-hsl));
}
.runtime-link {
  color: hsla(var(--primary));
  text-decoration-color: #0a7163;
  text-decoration-thickness: 1px;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
}
.runtime-link:hover {
  --tw-text-opacity: 1;
  color: rgb(1 183 128 / var(--tw-text-opacity, 1));
  text-decoration-color: #01b780;
}
.runtime-link:where(.dark, .dark *) {
  text-decoration-color: #70ffae;
}
.runtime-link:hover:where(.dark, .dark *) {
  --tw-text-opacity: 1;
  color: rgb(1 183 128 / var(--tw-text-opacity, 1));
  text-decoration-color: #01b780;
}
.help-link {
  --tw-text-opacity: 1;
  color: rgb(147 51 234 / var(--tw-text-opacity, 1));
  text-decoration-color: rgb(147 51 234 / 0.2);
}
.help-link:hover {
  text-decoration-color: #9333ea;
}
.help-link:where(.dark, .dark *) {
  --tw-text-opacity: 1;
  color: rgb(216 180 254 / var(--tw-text-opacity, 1));
  text-decoration-color: rgb(216 180 254 / 0.2);
}
.help-link:hover:where(.dark, .dark *) {
  text-decoration-color: #d8b4fe;
}
.example-icon {
  stroke: hsla(var(--foreground-secondary));
}
.sidebar__current-item {
  color: var(--color-accent-fg);
}
.sidebar__current-item::before {
  position: absolute;
  left: 0px;
  height: 1.3em;
  width: 0.5em;
  background-color: hsla(var(--background-secondary));
  text-align: center;
  --tw-content: "";
  content: var(--tw-content);
}
.sidebar__current-item:where(.dark, .dark *)::before {
  background-color: hsla(var(--background-tertiary));
}
.sidebar__current-item::before {
  clip-path: polygon(0% 10%, 100% 50%, 0% 90%);
}
.markdown-body .admonition a {
  color: hsla(var(--primary));
  text-decoration-line: underline;
  text-underline-offset: 2px;
}
.markdown-body .admonition {
  border-radius: 0.5rem;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(37 39 43 / var(--tw-border-opacity, 1));
  background-color: rgb(134 135 137 / 0.05);
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0.5rem;
}
.markdown-body .admonition .title {
  display: flex;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
}
.markdown-body .admonition .title::before {
  content: "";
  margin-right: 0.5rem;
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
}
.markdown-body .admonition > p {
  margin-bottom: 0.5rem;
}
.markdown-body .admonition.info {
  border-color: hsla(var(--info), 0.5);
  background-color: hsla(var(--primary), 0.05);
  color: hsla(var(--info));
}
.markdown-body .admonition.note {
  border-color: hsla(var(--note), 0.5);
  background-color: hsla(var(--primary), 0.05);
  color: hsla(var(--note));
}
.markdown-body .admonition.caution {
  border-color: hsla(var(--caution), 0.5);
  background-color: hsla(var(--caution), 0.05);
  fill: hsla(var(--caution));
  color: hsla(var(--caution));
}
.markdown-body .admonition.tip {
  border-color: hsla(var(--tip), 0.5);
  background-color: hsla(var(--tip), 0.05);
  color: hsla(var(--tip));
}
.markdown-body .admonition.info .title::before {
  /* circle exclamation mark */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="rgb(29 78 216)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><line x1="12" y1="16" x2="12" y2="12"/><line x1="12" y1="8" x2="12" y2="8"/></svg>');
}
.markdown-body .admonition.note .title::before {
  /* circle exclamation mark */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="rgb(29 78 216)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><line x1="12" y1="16" x2="12" y2="12"/><line x1="12" y1="8" x2="12" y2="8"/></svg>');
}
.markdown-body .admonition.caution .title::before {
  /* exclamation mark in a filled warning triangle */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgb(113 63 18)"><path fill-rule="evenodd" d="M9.401 3.003c1.155-2 4.043-2 5.197 0l7.355 12.748c1.154 2-.29 4.5-2.599 4.5H4.645c-2.309 0-3.752-2.5-2.598-4.5L9.4 3.003ZM12 8.25a.75.75 0 0 1 .75.75v3.75a.75.75 0 0 1-1.5 0V9a.75.75 0 0 1 .75-.75Zm0 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd" /></svg>');
}
.markdown-body .admonition.tip .title::before {
  /* lightbulb svg */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="rgb(22 163 74)" stroke-width="1.5"><path stroke-linecap="round" stroke-linejoin="round" d="M12 18v-5.25m0 0a6.01 6.01 0 0 0 1.5-.189m-1.5.189a6.01 6.01 0 0 1-1.5-.189m3.75 7.478a12.06 12.06 0 0 1-4.5 0m3.75 2.383a14.406 14.406 0 0 1-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 1 0-7.517 0c.85.493 1.509 1.333 1.509 2.316V18" /></svg>');
}
.markdown-body .module-info svg {
  display: inline-block !important;
  height: 1.5rem !important;
  width: 1.5rem !important;
}
.markdown-body .module-info h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.markdown-body .module-info h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.markdown-body .module-info .item-content {
  margin-left: 0.75rem;
  font-size: 1rem;
  margin-bottom: 2rem;
}
.markdown-body .module-info p {
  margin-bottom: 0.25rem;
}
.markdown-body .module-info ul {
  padding-left: 1.5rem;
}
.markdown-body > pre.snippet-code[data-example-position="only"] {
  height: 100%;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
@media (min-width: 768px) {

  .markdown-body > pre.snippet-code[data-example-position="only"] {
    border-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top-width: 1px;
    border-bottom-width: 1px;
    padding-top: 1rem;
  }
}
.markdown-body > pre.snippet-code[data-example-position="first"] {
  height: 100%;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
@media (min-width: 768px) {

  .markdown-body > pre.snippet-code[data-example-position="first"] {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-width: 1px;
    border-bottom-width: 0px;
    padding-top: 1rem;
  }
}
.markdown-body > pre.snippet-code[data-example-position="middle"] {
  height: 100%;
}
@media (min-width: 768px) {

  .markdown-body > pre.snippet-code[data-example-position="middle"] {
    border-radius: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    padding-top: 0px;
    padding-bottom: 4rem;
  }
}
.markdown-body > pre.snippet-code[data-example-position="last"] {
  height: 100%;
}
@media (min-width: 768px) {

  .markdown-body > pre.snippet-code[data-example-position="last"] {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top-width: 0px;
    border-bottom-width: 1px;
    padding-bottom: 2rem;
  }
}
.deno-tabs {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 640px) {

  .deno-tabs {
    margin-left: 0px;
    margin-right: 0px;
  }
}
.deno-tabs > ul.deno-tabs-buttons {
  margin-left: 1rem;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0px;
}
@media (min-width: 640px) {

  .deno-tabs > ul.deno-tabs-buttons {
    margin: 0px;
  }
}
.deno-tabs > ul.deno-tabs-buttons > li {
  margin: 0px;
}
.deno-tabs > ul.deno-tabs-buttons > li > button {
  margin-right: 0.5rem;
  display: inline-block;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-width: 1px;
  border-bottom-width: 0px;
  border-color: transparent;
  background-color: rgb(241 245 249 / 0.8);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity, 1));
}
.deno-tabs > ul.deno-tabs-buttons > li > button:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(239 246 255 / var(--tw-bg-opacity, 1));
}
.deno-tabs > ul.deno-tabs-buttons > li > button:where(.dark, .dark *) {
  border-color: hsla(var(--background-tertiary));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity, 1));
}
.deno-tabs > ul.deno-tabs-buttons > li > button:hover:where(.dark, .dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(71 85 105 / var(--tw-bg-opacity, 1));
}
.deno-tabs > ul.deno-tabs-buttons > li > button[data-active="true"] {
  position: relative;
  margin-bottom: -1px;
  border-bottom-width: 0px;
  --tw-border-opacity: 1;
  border-color: rgb(226 232 240 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity, 1));
  padding-bottom: calc(0.5rem + 1px);
  --tw-text-opacity: 1;
  color: rgb(2 6 23 / var(--tw-text-opacity, 1));
}
.deno-tabs > ul.deno-tabs-buttons > li > button[data-active="true"]:where(.dark, .dark *) {
  border-color: hsla(var(--background-tertiary));
  background-color: hsla(var(--background-secondary));
  --tw-text-opacity: 1;
  color: rgb(248 250 252 / var(--tw-text-opacity, 1));
}
.deno-tabs > ul.deno-tabs-buttons > li > button[data-active="true"] {
  z-index: 2;
}
.deno-tabs > div.deno-tabs-content > div {
  display: none;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(226 232 240 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity, 1));
  padding: 0.5rem;
}
@media (min-width: 640px) {

  .deno-tabs > div.deno-tabs-content > div {
    border-radius: 0.5rem;
    border-top-left-radius: 0px;
    padding: 1rem;
  }
}
.deno-tabs > div.deno-tabs-content > div:where(.dark, .dark *) {
  border-color: hsla(var(--background-tertiary));
  background-color: hsla(var(--background-secondary));
}
.deno-tabs > div.deno-tabs-content > div[data-active="true"] {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.deno-tabs > div.deno-tabs-content > div > p {
  margin-bottom: 0px;
}
.markdown-body .deno-tabs pre {
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 0.25rem !important;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(226 232 240 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}
.markdown-body .deno-tabs pre:where(.dark, .dark *) {
  border-color: hsla(var(--background-tertiary));
  background-color: hsla(var(--background-primary));
}
/* Strips bottom margin in instances where multiple code samples exist in a tab. */
.markdown-body .deno-tabs :not(div > pre + div > pre) {
  margin-bottom: 0px;
}
/* Custom DDOC styles for the Deno documentation */
.ddoc {
  padding-top: 0px !important;

  #topnav {
    background-color: hsla(var(--background-primary)) !important;
  }

  #topnav {
    svg,
    path {
      fill: hsla(var(--foreground-primary)) !important;
    }
  }

  .section {
    border-bottom: 1px solid hsl(var(--foreground-tertiary));
    padding-bottom: 1rem;
  }

  .section:last-child {
    border: 0;
  }

  .documentNavigation {
    > h3 {
      display: none !important;
    }

    > ul {
      border-left-width: 1px !important;
    }

    > ul {
      border-color: hsla(var(--foreground-tertiary)) !important;
    }

    > ul {

      > li > a {
        border-radius: 0.5rem !important;
      }

      > li > a {
        padding-top: 0.375rem !important;
        padding-bottom: 0.375rem !important;
      }

      > li > a {
        padding-left: 0.875rem !important;
        padding-right: 0.875rem !important;
      }

      > li > a {
        color: hsla(var(--foreground-primary)) !important;
      }

      > li > a:hover {
        background-color: hsla(var(--background-secondary)) !important;
      }

      > li > a:hover {
        color: hsla(var(--primary)) !important;
      }

      > li > a:hover {
        text-decoration-line: none !important;
      }

      > li > ul > li > a {
        color: hsla(var(--foreground-secondary)) !important;
      }

      > li > ul > li > a:hover {
        color: hsla(var(--primary)) !important;
      }

      > ul > li a {
        border-radius: 0.5rem !important;
      }

      > ul > li a:hover {
        background-color: hsla(var(--background-secondary)) !important;
      }

      > ul > li a:hover {
        color: hsla(var(--primary)) !important;
      }

      > ul > li a:hover {
        text-decoration-line: none !important;
      }
    }
  }

  .markdown-body {
    & a:not(.no-color) {
      color: hsla(var(--primary)) !important;
    }
  }

  .markdown-summary p {
    color: hsla(var(--foreground-secondary));
  }

  .usageContent .markdown-body pre:has(code.highlight) {
    margin-bottom: 0px;
  }

  .usageContent .markdown-body pre:has(code.highlight) {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .usageContent .markdown-body pre:has(code.highlight) {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .usageContent .markdown-body pre:has(code.highlight) {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@media (min-width: 1024px) {
  .ddoc .markdown-body p {
    max-width: 75ch;
  }
}
#toc {
  scrollbar-gutter: stable;
  scrollbar-width: thin;
}
.copyButton[data-copied="true"] .copy-icon {
  display: none;
}
.copyButton[data-copied="true"] .check-icon {
  display: inline;
}
.btn {
  display: inline-flex;
  max-width: -moz-max-content;
  max-width: max-content;
  cursor: pointer;
  align-items: center;
  gap: 0.5rem;
  border-radius: 9999px;
  border-width: 1px;
  border-color: hsla(var(--foreground-secondary));
  background-color: hsla(var(--background-primary));
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: hsla(var(--foreground-primary)) !important;
  text-decoration-line: none !important;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.btn:hover {
  --tw-shadow: inset 0 0 0 1px;
  --tw-shadow-colored: inset 0 0 0 1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.btn:focus {
  --tw-shadow: inset 0 0 0 1px;
  --tw-shadow-colored: inset 0 0 0 1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.btn:where(.dark, .dark *) {
  border-color: hsla(var(--background-tertiary));
  background-color: hsla(var(--background-tertiary));
}
.btn {
  & svg {
    display: inline-block;
  }
  & svg {
    width: 1rem;
    height: 1rem;
  }
}
#feedback-no:focus + label,
#feedback-yes:focus + label {
  --tw-shadow: inset 0 0 0 1px;
  --tw-shadow-colored: inset 0 0 0 1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
#feedback-no:checked + label {
  --tw-bg-opacity: 1;
  background-color: rgb(248 113 113 / var(--tw-bg-opacity, 1));
}
#feedback-no:checked + label:where(.dark, .dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity, 1));
}
#feedback-yes:checked + label {
  --tw-bg-opacity: 1;
  background-color: rgb(74 222 128 / var(--tw-bg-opacity, 1));
}
#feedback-yes:checked + label:where(.dark, .dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(22 163 74 / var(--tw-bg-opacity, 1));
}
#feedback-form__content:has(input[type="radio"]:checked) {
  grid-template-rows: max-content 1fr;

  #feedback-more {
    display: flex;
  }

  #feedback-more {
    flex-direction: column;
  }

  #feedback-more {
    gap: 0.5rem;
  }
}
#feedback-more label {
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.learning-list-item {
  margin-bottom: 0.25rem;
  line-height: 1.75rem;
}
input[type="search"] {
  background-image: url("/img/search.svg");
  background-repeat: no-repeat;
  background-size: 1em;
  background-position-y: center;
  background-position-x: 0.5em;
  padding-left: 2em;
}
/* Examples styles */
.hub-header {
  border-bottom: 1px solid var(--borderColor-muted, var(--color-border-muted));
  padding-bottom: 0.3em;
}
label:has(.switch input:focus-visible) .slider {
  outline: 2px solid var(--color-accent-fg);
  outline-offset: 2px;
}
.switch {
  position: relative;
  width: 1.8rem;
  height: 1rem;
  display: block;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: background-color 0.2s;
  border-radius: 1rem;
}
.slider:before {
  position: absolute;
  content: "";
  height: calc(1rem - 4px);
  width: calc(1rem - 4px);
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: transform 0.2s cubic-bezier(0.86, 0, 0.07, 1);
  border-radius: 50%;
}
.fully-filtered {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.filter:checked + .slider {
  background-color: #2196f3;
}
.filter:checked + .slider:before {
  transform: translateX(calc(0.8rem));
}
[data-category="tutorial"],
[data-category="video"],
[data-category="example"],
.unfiltered {
  display: none;
}
main:has(#tutorial:checked) {
  .fully-filtered {
    display: none;
  }
  .unfiltered {
    display: block;
  }
  & [data-category="tutorial"] {
    display: block;
  }
}
main:has(#video:checked) {
  .fully-filtered {
    display: none;
  }
  .unfiltered {
    display: block;
  }
  & [data-category="video"] {
    display: block;
  }
}
main:has(#example:checked) {
  .fully-filtered {
    display: none;
  }
  .unfiltered {
    display: block;
  }
  & [data-category="example"] {
    display: block;
  }
}
.hover\:border-blue-700:hover {
  --tw-border-opacity: 1;
  border-color: rgb(29 78 216 / var(--tw-border-opacity, 1));
}
.hover\:bg-background-secondary:hover {
  background-color: hsla(var(--background-secondary));
}
.hover\:bg-blue-50\/10:hover {
  background-color: rgb(239 246 255 / 0.1);
}
.hover\:bg-foreground-tertiary:hover {
  background-color: hsla(var(--foreground-tertiary));
}
.hover\:bg-gray-200:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1));
}
.hover\:bg-slate-200:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity, 1));
}
.hover\:text-blue-800:hover {
  --tw-text-opacity: 1;
  color: rgb(30 64 175 / var(--tw-text-opacity, 1));
}
.hover\:text-foreground-secondary:hover {
  color: hsla(var(--foreground-secondary));
}
.hover\:text-gray-900:hover {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1));
}
.hover\:text-indigo-600:hover {
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity, 1));
}
.hover\:underline:hover {
  text-decoration-line: underline;
}
.hover\:ring-background-tertiary:hover {
  --tw-ring-color: hsla(var(--background-tertiary));
}
.focus\:underline:focus {
  text-decoration-line: underline;
}
.group[open] .group-open\:border-b {
  border-bottom-width: 1px;
}
[aria-current].current\:bg-background-secondary {
  background-color: hsla(var(--background-secondary));
}
[aria-current].current\:bg-background-tertiary {
  background-color: hsla(var(--background-tertiary));
}
[aria-current].current\:font-semibold {
  font-weight: 600;
}
[aria-current].current\:text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity, 1));
}
@media (min-width: 640px) {

  .sm\:col-span-3 {
    grid-column: span 3 / span 3;
  }

  .sm\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .sm\:block {
    display: block;
  }

  .sm\:hidden {
    display: none;
  }

  .sm\:columns-2 {
    -moz-columns: 2;
         columns: 2;
  }

  .sm\:grid-cols-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }

  .sm\:flex-row {
    flex-direction: row;
  }

  .sm\:flex-wrap {
    flex-wrap: wrap;
  }

  .sm\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .sm\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}
@media (min-width: 768px) {

  .md\:block {
    display: block;
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:flex-wrap {
    flex-wrap: wrap;
  }

  .md\:items-center {
    align-items: center;
  }

  .md\:justify-start {
    justify-content: flex-start;
  }

  .md\:gap-0 {
    gap: 0px;
  }

  .md\:text-balance {
    text-wrap: balance;
  }

  .md\:rounded-md {
    border-radius: 0.375rem;
  }

  .md\:border {
    border-width: 1px;
  }

  .md\:p-4 {
    padding: 1rem;
  }

  .md\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .md\:pb-0 {
    padding-bottom: 0px;
  }

  .md\:pt-12 {
    padding-top: 3rem;
  }

  .md\:text-right {
    text-align: right;
  }

  .md\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .md\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .md\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
@media (min-width: 1024px) {

  .lg\:flex {
    display: flex;
  }

  .lg\:columns-3 {
    -moz-columns: 3;
         columns: 3;
  }
}
@media (min-width: 1280px) {

  .xl\:hidden {
    display: none;
  }

  .xl\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 1536px) {

  .\32xl\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.dark\:border-background-tertiary:where(.dark, .dark *) {
  border-color: hsla(var(--background-tertiary));
}
.dark\:border-foreground-tertiary:where(.dark, .dark *) {
  border-color: hsla(var(--foreground-tertiary));
}
.dark\:border-gray-700:where(.dark, .dark *) {
  --tw-border-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-border-opacity, 1));
}
.dark\:bg-background-primary:where(.dark, .dark *) {
  background-color: hsla(var(--background-primary));
}
.dark\:bg-background-secondary:where(.dark, .dark *) {
  background-color: hsla(var(--background-secondary));
}
.dark\:bg-green-600:where(.dark, .dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(22 163 74 / var(--tw-bg-opacity, 1));
}
.dark\:bg-transparent:where(.dark, .dark *) {
  background-color: transparent;
}
.dark\:fill-transparent:where(.dark, .dark *) {
  fill: transparent;
}
.dark\:fill-white:where(.dark, .dark *) {
  fill: #fff;
}
.dark\:text-gray-400:where(.dark, .dark *) {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}
.dark\:text-slate-200:where(.dark, .dark *) {
  --tw-text-opacity: 1;
  color: rgb(226 232 240 / var(--tw-text-opacity, 1));
}
.dark\:opacity-15:where(.dark, .dark *) {
  opacity: 0.15;
}
.dark\:hover\:bg-background-secondary:hover:where(.dark, .dark *) {
  background-color: hsla(var(--background-secondary));
}
.dark\:hover\:bg-slate-700:hover:where(.dark, .dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(51 65 85 / var(--tw-bg-opacity, 1));
}
.dark\:hover\:text-foreground-primary:hover:where(.dark, .dark *) {
  color: hsla(var(--foreground-primary));
}
.\[\&\>\*\]\:last\:mb-0:last-child>* {
  margin-bottom: 0px;
}
